table,td
{
    border: 1px solid black;
    border-collapse: collapse;
}

thead
{
    font-weight: bold;
    background-color: grey;
    color: white;
}

tbody > tr:hover{
    background-color: aquamarine;
    color:black;

}